{% if videos %}
<section class="pf-videos clearfix mosaicflow_load" data-width="300">
	{% for video in videos %}
	<article>
		<a href="{{ url('/videos/', video.id) }}" class="no_ajax">
			<h1>{{ video.content.title }}</h1>
			<img src="{{ video.content.image }}">
		</a>
	</article>
	{% endfor %}
</section>
	{{ pager() }}
{% else %}
	{% if isPager == false %}
	<section>
		No videos have been added. Be the first to <a href="{{ url('/videos/add') }}" class="popup">add one</a>.
	</section>
	{% endif %}
{% endif %}