
<div class="pf-video-player" data-video-id="{{ videoId }}">
	<div class="frame">
		<i class="fa fa-spin fa-circle-o-notch"></i>
		<script>
			var playVideo = {{ {play: video.html}|json_encode }};
			$Behavior.playVideo = function(event) {
				delete $Behavior.playVideo;
				var f = $('.frame');
				f.html(playVideo.play);
			};
		</script>
	</div>
	<div class="comments">
		{{ comments() }}
	</div>
</div>
<script>
	$Ready(function() {
		var t = $('.pf-video-player'), c = $('.comment_mini_link_like ul');
		if (!t.hasClass('active')) {
			t.addClass('active');
			if ($('#pf_admin').length) {
				c.append('<li><a href="' + PF.url.make('/videos/delete/' + t.data('video-id')) + '" class="no_ajax" onclick="return confirm(\'Are you sure?\');">Delete</a></li>');
			}
		}
	});
</script>